
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(10, 15, 10);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: rgb(45, 45, 45);
  color: #fff;
  width: 50%;
  margin: 20% auto;
  border-radius: 10px;
  padding: 30px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(162, 224, 70);
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
}

button:hover {
  background: rgb(124, 173, 51);
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  max-width: 100%;
}

form {
  margin: 20px auto;
}

p {
  margin-top: 10px;
}
