/* Reset padrão para remover margens e preenchimentos */
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: #f8b12b;
  color: rgb(255, 250, 233);
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  text-align: center;
}

h1 {
  margin-right: 30%;
}
h1 #logo {
  width: 70px;
}

form {
  background-color: rgb(43, 43, 43);
  /* width: 100%; */
  margin: 0 auto;
  padding: 20px;
  /* border-radius: 5px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

label {
  align-self: center;
  margin-right: 10px;
  font-size: 25px;
  font-weight: 800;
}

form input,
form button,
li button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

form input {
  margin-right: 10px;
  outline: 0;
}

form button,
li button {
  background-color: #f8b12b;
  color: rgb(43, 43, 43);
  font-weight: 800;
}

button:hover {
  background-color: #f5bd54;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}

li {
  padding: 20px;
  border-radius: 10px;
  list-style: none;
  background-color: #fdd790f1;
  color: rgb(43, 43, 43);
  width: 250px;
  margin: 10px;
}

li img {
  border-radius: 15px;
  width: 240px;
  /* min-height: 346px; */
}

/* #cinema {
  float:inline-end;
  position: fixed;
  width: 100%;
  order: 1;
  left: 0;
  bottom: 0;
  top: 500px;
  opacity: 50%;
  -webkit-mask-image: linear-gradient(to bottom, transparent 20%, #fbca6e 100%);
} */

#header {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  margin-left: 10px;
  color: rgb(43, 43, 43);
  font-weight: 800;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 226, 154)
  
}

@media screen and (max-width: 1019px) {
  form {
    flex-direction: column;
    align-items: baseline;
    align-content: center;
  }
  form input,
  form button {
    align-self: center;
  }
  input::placeholder {
    text-align: center;
  }
  h1 {
    margin-right: 10%;
    margin-left: 10%;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  span {
    font-size: small;
    margin-bottom: 5px;
  }
}
